In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [3]:
# Replace 'path_to_your_file.csv' with the actual path to your CSV file
file_path = 'Apple_PriceHistory_simple.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

                Date  Price         CVol  Change  % Change  Open  High   Low
0  12/31/02 12:00 AM   0.26  201283920.0     NaN       NaN  0.25  0.26  0.25
1    1/2/03 12:00 AM   0.26  182317020.0    0.01      3.28  0.26  0.27  0.26
2    1/3/03 12:00 AM   0.27  147975190.0    0.00      0.68  0.26  0.27  0.26
3    1/6/03 12:00 AM   0.27  391565840.0     NaN       NaN  0.27  0.27  0.27
4    1/7/03 12:00 AM   0.27  343482970.0   -0.00     -0.34  0.26  0.27  0.26

In [6]:
# Convert the Date column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%y %I:%M %p')

# Extract month, day, and year into separate columns
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['year'] = df['Date'].dt.year

# Drop the original date column if you no longer need it
df.drop(columns=['Date'], inplace=True)

KeyError: 'Date'

In [7]:
# Display the first few rows of the DataFrame to verify
df.head(40)

    Price         CVol  Change  % Change  Open  High   Low  month  day  year
0    0.26  201283920.0     NaN       NaN  0.25  0.26  0.25     12   31  2002
1    0.26  182317020.0    0.01      3.28  0.26  0.27  0.26      1    2  2003
2    0.27  147975190.0    0.00      0.68  0.26  0.27  0.26      1    3  2003
3    0.27  391565840.0     NaN       NaN  0.27  0.27  0.27      1    6  2003
4    0.27  343482970.0   -0.00     -0.34  0.26  0.27  0.26      1    7  2003
5    0.26  230100400.0   -0.01     -2.02  0.26  0.26  0.26      1    8  2003
6    0.26  215883450.0    0.00      0.89  0.26  0.27  0.26      1    9  2003
7    0.26  175682420.0    0.00      0.27  0.26  0.26  0.26      1   10  2003
8    0.26  179395420.0   -0.00     -0.61  0.27  0.27  0.26      1   13  2003
9    0.26  187373400.0   -0.00     -0.14  0.26  0.26  0.26      1   14  2003
10   0.26  372926800.0   -0.00     -1.23  0.26  0.26  0.25      1   15  2003
11   0.26  559794800.0    0.00      1.32  0.25  0.26  0.25      1   16  2003
12   0.25  268864500.0   -0.01     -3.56  0.26  0.26  0.25      1   17  2003
13   0.25  254055080.0   -0.00     -0.57  0.25  0.26  0.25      1   21  2003
14   0.25  215660470.0   -0.00     -1.00  0.25  0.25  0.25      1   22  2003
15   0.25  228864880.0    0.01      2.09  0.25  0.26  0.25      1   23  2003
16   0.25  305975030.0   -0.01     -2.61  0.25  0.25  0.24      1   24  2003
17   0.25  392070380.0    0.01      2.39  0.24  0.26  0.24      1   27  2003
18   0.26  286954700.0    0.01      3.18  0.25  0.26  0.25      1   28  2003
19   0.27  373972630.0    0.01      2.40  0.26  0.27  0.26      1   29  2003
20   0.26  407652780.0   -0.01     -4.09  0.27  0.27  0.26      1   30  2003
21   0.26  342031800.0    0.00      0.28  0.25  0.26  0.25      1   31  2003
22   0.26  265728130.0    0.01      2.09  0.26  0.27  0.26      2    3  2003
23   0.26  317955300.0   -0.00     -0.41  0.26  0.26  0.26      2    4  2003
24   0.26  222326200.0   -0.00     -1.03  0.26  0.27  0.26      2    5  2003
25   0.26  179680420.0   -0.00     -0.14  0.26  0.26  0.25      2    6  2003
26   0.25  270240130.0   -0.01     -1.94  0.26  0.26  0.25      2    7  2003
27   0.26  168472900.0    0.00      1.41  0.25  0.26  0.25      2   10  2003
28   0.26  165528770.0     NaN       NaN  0.26  0.26  0.25      2   11  2003
29   0.26  229228920.0    0.00      0.28  0.25  0.26  0.25      2   12  2003
30   0.26  209394690.0    0.00      1.04  0.26  0.26  0.25      2   13  2003
31   0.26  244116970.0    0.00      0.89  0.26  0.26  0.26      2   14  2003
32   0.27  291703780.0    0.01      4.09  0.26  0.27  0.26      2   18  2003
33   0.27  241635340.0   -0.01     -2.75  0.27  0.27  0.26      2   19  2003
34   0.26  224905840.0   -0.00     -0.54  0.27  0.27  0.26      2   20  2003
35   0.27  157970450.0    0.00      1.56  0.26  0.27  0.26      2   21  2003
36   0.26  180648310.0   -0.00     -1.73  0.27  0.27  0.25      2   24  2003
37   0.27  189284970.0    0.01      1.90  0.26  0.27  0.26      2   25  2003
38   0.26  217618450.0   -0.01     -3.46  0.27  0.27  0.26      2   26  2003
39   0.27  155030000.0    0.01      2.48  0.26  0.27  0.26      2   27  2003

In [8]:
# Download the modified DataFrame to a new CSV file
df.to_csv('Apple_PriceHistory_modified.csv', index=False)